# /etc/systemd/system/script-network.service
#

[Unit]
Description=Initialize iptables

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/etc/init.d/iptables/start.d"
